.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.overlayActive {
    composes: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

.dialog {
    background-color: white;
    width: min(90%, 600px);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: height 300ms ease;
}

.dialogLoading,
.dialogError,
.dialogSuccess,
.dialogDeleting,
.dialogDeleteError,
.dialogDeleteSuccess {
    composes: dialog;
}

.dialogLoading {
    height: 180px;
}

.dialogError {
    height: 300px;
}

.dialogSuccess {
    height: 460px;
}

.dialogDeleting {
    height: 180px;
}

.dialogDeleteError {
    height: 300px;
}

.dialogDeleteSuccess {
    height: 250px;
}

.loadingContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease;
}

.dialogLoading .loadingContent {
    opacity: 1;
    pointer-events: all;
}

.message {
    font-weight: 600;
    color: rgb(69, 70, 71);
}

.loadingContent .message {
    margin-top: 24px;
}

.errorIcon {
    width: 70px;
    height: 70px;
}

.errorContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease 100ms;
}

.dialogError .errorContent {
    opacity: 1;
    pointer-events: all;
}

.closeButton {
    font-size: 16px !important;
    margin-top: 16px;
}

.secretContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 50ms ease;
}

.dialogSuccess .secretContent {
    opacity: 1;
    pointer-events: all;
    transition: opacity 400ms ease 100ms;
}

.secretName {
    color: rgb(69, 70, 71);
}

.secretBody {
    font-size: 18px;
    color: rgb(69, 70, 71);
    margin-top: 20px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px rgb(100, 163, 199) solid;
    border-radius: 4px;
    padding: 6px;
}

.secretCloseButton {
    margin-top: 20px;
}

.secretDeleteButton {
    margin-top: 12px;
}

.deletingContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease;
    gap: 20px;
}

.dialogDeleting .deletingContent {
    opacity: 1;
    pointer-events: all;
}

.deleteErrorContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease 100ms;
}

.dialogDeleteError .deleteErrorContent {
    opacity: 1;
    pointer-events: all;
}

.deleteSuccessContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease 100ms;
}

.dialogDeleteSuccess .deleteSuccessContent {
    opacity: 1;
    pointer-events: all;
}

.successIcon {
    width: 70px;
    height: 70px;
}