* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  --primary: rgb(79, 231, 219);
  --primary-2: rgb(32, 131, 123);
  --background-gradient: linear-gradient(45deg, rgb(48, 42, 61), rgb(125, 116, 145));
}