* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  --primary: black;
  --primary-2: rgb(72, 73, 73);
  --onPrimary: white;
  --onBackground: black;
  --background-gradient: linear-gradient(45deg, white, white);
  --highlight: rgb(27, 145, 153);
}