.button {
    border-radius: 6px;
    cursor: pointer;
    border: none;
    padding: 12px 0;
    font-size: 20px;
    width: 100%;
    font-weight: 600;
    transition: background-color 250ms ease;
    color: rgb(44, 44, 44);
}

.primary {
    composes: button;
    background-color: var(--primary);
}

.primary:hover,
.primary:active {
    background-color: var(--primary-2);
}

.secondary {
    composes: button;
    background-color: rgb(214, 219, 219);
}

.secondary:hover,
.secondary:active {
    background-color: rgb(151, 156, 156);
}