.button {
    border-radius: 6px;
    cursor: pointer;
    border: none;
    padding: 12px 0;
    font-size: 20px;
    width: 100%;
    font-weight: 600;
    transition: background-color 250ms ease;
}

.primary {
    composes: button;
    background-color: var(--primary);
    color: var(--onPrimary);
}

.primary:hover,
.primary:active {
    background-color: var(--primary-2);
}

.secondary {
    composes: button;
    background-color: rgb(103, 105, 105);
    color: white;
}

.secondary:hover,
.secondary:active {
    background-color: rgb(177, 180, 180);
}