.page {
    height: 100vh;
    background: var(--background-gradient);
    position: relative;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 12px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cardContainer {
    list-style: none;
}

.card {
    border-radius: 6px;
    padding: 14px;
    list-style: none;
    background: linear-gradient(45deg, var(--highlight), var(--highlight));
    color: var(--onHighlight);
}

.cardName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.userCard {
    color: black;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.amountLabel {
    color: rgb(65, 66, 66);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.fab {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 16px;
    bottom: 16px;
    background-color: var(--primary);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 34px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition:
        right 400ms ease,
        bottom 400ms ease,
        border-radius 400ms ease,
        width 400ms ease,
        height 400ms ease,
        background-color 200ms ease 200ms,
        transform 400ms ease,
        scale 200ms ease;
}

.fabOpen {
    composes: fab;
    right: 50%;
    bottom: 50%;
    transform: translateX(50%) translateY(50%);
    background-color: white;
    border-radius: 6px;
    width: min(90%, 500px);
    height: 440px;
    cursor: default;
    transition:
        right 400ms ease,
        bottom 400ms ease,
        border-radius 400ms ease,
        width 400ms ease,
        height 400ms ease,
        background-color 200ms ease,
        transform 400ms ease;
}

.fabOpen:hover {
    scale: 1;
}

.fabLoading {
    composes: fabOpen;
    height: 200px;
}

.plus {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
}

.overlay {
    background-color: rgb(0, 0, 0);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    transition: opacity 300ms ease;
    opacity: 0;
}

.overlayOpen {
    composes: overlay;
    background-color: rgb(0, 0, 0);
    pointer-events: all;
    opacity: 0.5;
}

.plus {
    color: var(--onPrimary);
}

.fabOpen .plus {
    display: none;
}

.fabHeader {
    font-size: 24px;
    margin-bottom: 24px;
    color: rgb(69, 70, 71);
}

.fabForm {
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms ease;
    padding: 14px;
    position: relative;
    width: 100%;
}

.fabOpen .fabForm {
    opacity: 1;
    pointer-events: all;
    transition: opacity 100ms ease 300ms;
}

.fabLoading .fabForm,
.fabSuccess .fabForm,
.fabCreationError .fabForm {
    opacity: 0;
    transition: opacity 200ms ease;
    pointer-events: none;
}

.fabLoading .fabForm {
    pointer-events: none;
}

.nameField {
    margin-bottom: 20px;
}

.submitButton {
    font-size: 16px !important;
}

.formLabel {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    color: rgb(69, 70, 71);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input,
.textArea {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding: 12px;
}

.error {
    border: 1px solid red;
    color: red;
}

.textArea {
    resize: none;
}

.formErrorMessage {
    color: red;
    font-size: 14px;
    margin-top: 6px;
}

.fab .loadingContainer {
    opacity: 0;
    pointer-events: none;
}

.fabLoading .loadingContainer {
    opacity: 1;
    pointer-events: all;
    transition: opacity 600ms ease;
}

.loadingContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
    padding: 12px;
}

.loadingContainer p {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: rgb(65, 66, 66);
}

.successContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    gap: 30px;
    padding: 12px;
}

.fabSuccess .successContainer {
    opacity: 1;
    pointer-events: all;
    transition: opacity 600ms ease;
}

.fabSuccess {
    composes: fabOpen;
    height: 280px;
}

.successContainer p,
.errorContainer p {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: rgb(65, 66, 66);
}

.successIcon {
    width: 70px;
    height: 70px;
}

.discloseButton {
    font-size: 16px !important;
}

.cardIcon {
    width: 40px;
    height: 40px;
}

.cardContent {
    display: flex;
    align-items: center;
    gap: 12px;
}

.errorContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    gap: 30px;
    padding: 12px;
}

.fabCreationError .errorContainer {
    opacity: 1;
    pointer-events: all;
    transition: opacity 600ms ease;
}

.fabCreationError {
    composes: fabOpen;
    height: 280px;
}

@media screen and (min-width: 950px) {
    .fab:hover {
        scale: 1.2;
    }
}