.page {
    height: 100vh;
    background: var(--background-gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

.header span {
    color: var(--primary);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 250px;
}