.page {
    height: 100vh;
    background: linear-gradient(45deg, rgb(48, 42, 61), rgb(125, 116, 145));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

.header span {
    color: var(--primary);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 250px;
}