.page {
    padding: 30px 12px;
    background: var(--background-gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    padding: 0 12px;
}

.submitButton {
    margin-top: 30px;
}

.alreadyMember {
    color: var(--onBackground);
    margin: 12px auto;
    font-size: 18px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.alreadyMember a {
    color: var(--highlight);
}

.dialogIcon {
    width: 80px;
    height: 80px;
}

.dialog {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
}

.dialogTitle {
    font-weight: 600;
}

.dialogButton {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 100px;
    padding: 14px 0;
    border-radius: 6px;
    margin-top: 20px;
}

.dialogText {
    line-height: 1.6;
}

.loadingDialogContent {
    padding: 100px;
}

.mainHeader {
    color: rgb(60, 61, 61);
    font-size: 30px;
    margin-bottom: 20px;
}

.formSectionHeader {
    color: rgb(60, 61, 61);
    margin-top: 16px;
}

.inputRow {
    display: flex;
    justify-content: space-around;
    gap: 4px;
}

.fullScreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorScreen {
    text-align: center;
}

.errorScreenHeader {
    margin-top: 20px;
    margin-bottom: 12px;
}